<%- include('partials/header') %>
    <main>
        <h1><%= title %></h1>
        
        <p>Here are our partner organizations:</p>
        <ul>
            <% organizations.forEach(organization => { %>
                <li>
                    <a href="/organization/<%= organization.organization_id %>" style="font-weight: bold; text-decoration: none; color: #007acc; font-size: 1.1em;">
                        <%= organization.name %>
                    </a>: <%= organization.contact_email %>
                    <p><%= organization.description %></p>
                </li>
            <% }); %>
        </ul>
    </main>
<%- include('partials/footer') %>A