<%- include('partials/header') %>

<main>
    <h1><%= title %></h1>
    <p>Check out our current service projects below. We have many opportunities for you to get involved and help the community!</p>
    
    <ul>
        <% projects.forEach(project => { %>
            <li>
                <strong><%= project.project_name %></strong>: <%= project.description %>
            </li>
        <% }); %>
    </ul>
</main>

<%- include('partials/footer') %>